<% content_for :head do %>
<title>Поделиться</title>
<% end %>


<div class="row">
    <div class="col-md-12 col-xs-12">

    <form role="form">

        <div class="input-group">
            <input class="form-control text-input" onfocus="$(this).select()" value="http://foo.bar/biz" readonly>

            <span class="input-group-btn">
                <button type="button" class="btn">
                Copy to clipboard
                </button>  
            </span>
        </div>


    </form>
        
    </div>
</div>
