<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 otst20">
		</div>
		<div class=" col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-5">
			<img src="images/lipsh.jpg" width="200" height="200" class="img-rounded">
		</div>
		<div class=" col-lg-8 col-md-8 col-sm-8 col-xs-8">
		<div class="row-fluid">
			<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-2 col-sm-12 col-sm-offset-3 col-xs-12 col-xs-offset-5 ">
				<h4 class="profil-name"> Рудольф Липшиц</h4>
				<p class="profil-status">Статус: (в отпуске/готов помочь/срочно нужна помощь)</p>
				<div class="row-fluid">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profil-razdelitel">
					</div>
				</div>
				<p class= "slitno">
					Город: Кёнисберг<br>
				Телефон: (скрыт)/+79...<br>
				</p>
				<a class="profil-inf" href="/" onClick="op('div1'); return false;"> Показать дополнительно информацию...</a>
				<div id="div1" style="display:none">
					<p class= "slitno">
						email: rudolf_lipshc@gmail.com <br>
						Работа: математик <br>
						Хобби: преподавание <br>
						skype: (отстутствует) <br>
						Аккаунты в других соц.сетях:(отсутствуют) <br>
					</p>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>