<% if task.status == 'new' %><!-- Владелец только создал данное задание -->
  <%= link_to("Удалить", task_path(task.token), method:"delete" , class:"btn light-btn", confirm: "Вы уверены?") %>
<% elsif task.status == 'in_process' %><!-- Задание уже кто-го делает -->
<% elsif task.status == 'ready' %><!-- Задание сделано, нужно отдать награду -->
  <p class="text-success">Вы должны отдать награду</p>
  <%= link_to("Наградить", task_finish_path(@task.token) , class: "btn yes-btn", data: { remote: true }) %>
  <%= link_to("Отказаться", task_cancel_path(@task.token) , class: "btn no-btn", data: { remote: true, confirm: "Вы уверены?" }) %>
<% elsif task.status == 'done' %><!-- Задание завершено, награда получена все счастливы -->
  <p class="text-success">Завершено</p>
<% elsif task.status == 'canceled' %><!-- Владелец задания отменил его -->
  <p class="text-danger">Вы отменили задание</p>
<% else %>
  Error :( Такого "<%= task.status %>" статуса не должно быть
<% end %>