<% provide(:title, "Поделиться") %>

<% content_for :nav_right_button do %>
<% end %>

<div class="row">
    <div class="col-md-12 col-xs-12">

<script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div data-url="<%= task_url(@task.token) %>" class="pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir"></div>


    <form role="form">


<!--         <div class="input-group"> -->
            <input class="form-control text-input" onfocus="this.select()" value="<%= task_url(@task.token) %>" readonly>

            <!-- <span class="input-group-btn">
                <button type="button" class="btn">
                Скопировать ссылку
                </button>  
            </span>     -->
        <!-- </div> -->
        <br>
        <%= link_to "Готово", tasks_path, :class => "btn nav-btn" %>
    </form>
    </div>
</div>

