<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <div class="col-md-2">
      <img class="avatar" src="<%= @task.user.picture_url %>">
    </div>
    <div class="col-md-10">
      <span class="username"><span class="otext"><%= @task.user.name %> </span> создал задание</span>
      <!--p class="username">Задание выполняет: <span class="org-text"><%= @task.slave_id %> </span></p-->
      <br>

      <span class="username"><span class="otext"><%= @task.slave.nil? ? "Никто" : @task.slave.name %> </span> выполняет задание</span>
      <br>
      <div class="text-block btext"><%= @task.description %></div>
      <span>Награда</span>
      <p class="text-block btext"><%= @task.cookie %></p>

      <center>
        Пожалуйста, войдите в систему или зарегистрируйтесь. <br><br>
        <a href="<%= login_path %>" class="zocial vk">Войти через Vkontakte</a>
        <!-- <a href="/auth/developer" class="zocial email">Войти через Developer</a> -->
      </center>
    </div>
  </div>
</div>
