<div class="container-fluid">

			<div class="col-md-12">
				<div class="col-md-2">
					<img class="avatar" src="<%= @task.user.picture_url %>">
				</div>
				<div class="col-md-10">
					<span class="username"><%= @task.user.name %> прислал вам задание</span>
					<div class="text-block"><%= @task.description %></div>
					<span>Награда</span>
					<p class="text-block"><%= @task.cookie %></p>
					<center>
						<button type="button" class="btn front-btn">Принять</button>
						<button type="button" class="btn front-btn">Отклонить</button>
					</center>
				</div>
			</div>
</div>
