	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      		<div class="container-fluid">
      			<div class="header bar-logo-text col-md-2 col-xs-4" style="margin-top:10px">
      				TODOforME
      			</div>

      			<div class="col-md-8 clearfix visible-md visible-lg"  >
      				<div class="navbar-center">
      					<h2 class="index-navbar-header">Список дел для Вас и Ваших друзей!</h2>
      				</div>
      			</div>

      			<div class="col-md-2 col-xs-14">
        			<a href="<%=login_path%>" class="navbar-right index-vk_btn">
        			<p style="margin-left:13px; margin-top:13px">Войти через</p>
        			</a>
        		</div>
      		</div>
    	</nav>
			
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<p class="index-h1" style="font-size:42px">У вас есть проблема, требующая немедленного решения?</br> Кто, как не лучшие друзья сможет вам помочь!</p>
				<p class="index-text-front" style="font-size:24px">Наш сервис предлагает набор удобных функций, позволяющих в три шага</br> получить помощь!</p>
			</div>
		</div>
		<div class="row">

			<!-- ПАНЕЛЬ С ИНСТРУКЦИЕЙ -->	
			<div class="col-md-6 index-text-block">

				<div class="row index-text-inblock-header col-xs-18">
					<br>
					<p> Как это работает? </p>
					<br>
				</div>

				<!-- ПЕРВЫЙ ШАГ -->	
				<div class="row">
					

					<div class="col-md-3 col-xs-3"> <br> <img src="images/1.svg"></div>
					<div class="col-md-6 col-xs-6">
						<p class="index-text-inblock-header">Создай  задание</p> 
						<p class="index-text-inblock">
							Опиши просьбу и награду за её выполнение и отправь её другу!
						</p> 
					</div>

					<img class="col-md-3 col-xs-3" src="images/ppl-right.svg" height="110">
				</div>

				<!-- ВТОРОЙ ШАГ -->
				<div class="row">
					<br/>
					<br>
					<div class="col-md-3 col-xs-3"> <br> <img src="images/2.svg"></div>
					<div class="col-md-6 col-xs-6">
						<p class="index-text-inblock-header">Получи помощь</p>
						<p class="index-text-inblock">
							Узнав о проблеме друзья помогут!
						</p> 
					</div>
					<img class="col-md-3 col-xs-3" src="images/ppl-left.svg" height="110">
				</div>

				<!-- ТРЕТИЙ ШАГ -->
				<div class="row">
					<br/>
					<br>
					<br>

					<div class="col-md-3 col-xs-3"> <br> <img src="images/3.svg"> </div>
					<div class="col-md-6 col-xs-6">
						<p class="index-text-inblock-header">Дай печеньку</p>
						<p class="index-text-inblock">
							Скажи другу спасибо, поделившись с ним печенькой/кофе/wi-fi...
						</p> 
					</div>

					<img class="col-md-3 col-xs-3" src="images/ppls.svg" height="161">
				</div>

			</div>

			<!-- ПАНЕЛЬ С ОПИСАНИЕМ -->	
			<div class="col-md-6">
				<div class="row col-md-6">
					<div class="index-h1">
						Просто и быстро!
					</div>
					<div class="index-text-front">
						Полный список заданий всегда доступен в один клик! 
					</div> 
				</div>
				<div class="row col-md-7 col-md-offset-5">
					<div class="index-h1">
						Всегда с вами!
					</div>						
					<div class="index-text-front">
						Вы можете пользоваться сервисом как с настольного компьютера, так и с мобильного телефона!
					</div> 
				</div>
				<div class="row col-md-6">
					<div class="index-h1">
						Это весело!
					</div>						
					<div class="index-text-front">
						"Карма" за выполнение заданий покажет, кто настоящий друг! :)
					</div> 
				</div>
				<div class="row col-md-7 col-md-offset-5">
					<div class="index-h1">
						Это удобно!
					</div>						
					<div class="index-text-front">
						Для нас важно, чтобы ваши задачи решались быстрее, и мы сделали всё от нас зависящее! 
					</div> 
				</div>
				<div class="row col-md-6">
					<div class="index-h1">
						Элементарно!
					</div>						
					<div class="index-text-front">
						Простой и интуитивно понятный интерфейс - это наша гордость :)
					</div> 
				</div>
			</div>
		</div>
		<br><br><br>
		<div class="row-fluid index-text-block col-md 12" style="text-align:center"> 
			
			<a class="index-a-inb" href="#">Дай пять!</a>
			
			 · 
			<a class="index-a-inb" href="#">О нас</a>
			 · 
			<a class="index-a-inb" href="#">Помощь</a>
			 · 
			<a class="index-a-inb" href="#">Политика конфиденциальности</a>
		</div>
	</div>
