/*
 * Основной CSS файл
 */
 
html,body{
	height:100%;
	background:#FFFFFF;
}
.navbar-center{
    margin: 0 auto;
    display: table;
    float:none;
}  

/* always right for all reslutuins */
.navbar-right {
    float: right !important;
  }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}

.navbar { min-width: 400px; background: #885E4F;}

textarea { resize: none }

/* in order to place bar on top */
body { margin-top: 60px }


.block{
		border:solid 1px #F5F5F5;
}

.block:hover{
	background:#EBEBEB;
	border:solid 1px #000;

}

.bl{
	border-left:solid 1px #000;
}
.br{
	border-right:solid 1px #000;
}

.container{
	
	
}
.fl{
	float:left;
}
.fr{
	float:right;
}
h1,h2,h3,h4,h5,h6{
	color:#666;
}

.img{
	margin-right:20px;
	margin-left:20px;
}



.vk_btn{
	background: #885E4F url(../images/vk-btn.svg) no-repeat;
	background-position: 110px 10px;
	background-size: 20%;
	text-align: left;
	font-family:HeliosThin;
	src: url('../fonts/HeliosThin.otf');
	font-size: 16px;
	color:#FFFFFF;
	border-color: #FFFFFF; 
	width: 150px;
	height: 50px;
	margin-top:6px;
}

.vk_btn:hover{
	background: #FFFFFF url(../images/vk-btn-td.svg) no-repeat;
	background-position: 110px 10px;
	background-size: 20%;
	color:#885E4F;
	/*opacity: .55;*/
}

.navbar-header{
	color:#FFFFFF; 
	margin-top:15px;
	font-family:HeliosThin;
	src: url('../fonts/HeliosThin.otf');
	font-weight:lighter;
}


.top{
	margin-top:-60px;
	height:60px;
	background:#666;
}
.logo{
	margin-top:-60px;
}
.sign_in{
	color:#666;
	font-size:24px;
	margin-left:35px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}
.h1{
	font-family:HeliosThin;
	src: url('../fonts/HeliosThin.otf');
	font-weight:lighter;
	font-size: 28px;
	text-align: center;
	color: #4E4E4E;
	
}
	/* Блок коричневого цвета с текстом */
.text-block{
	background: #885E4F;
}
	/* Серый текст внутри блоков */
.text-inblock{
	font-family:HeliosThin;
	src: url('../fonts/HeliosThin.otf');
	font-weight:lighter;
	text-align: center;
	font-size: 20px;
	color: #B0B0B0;
}
	/* Заголовок белого цвета внутри блока */
.text-inblock-header{
	font-family:HeliosThin;
	src: url('../fonts/HeliosThin.otf');
	font-weight:lighter;
	text-align: center;
	font-size: 28px;
	color: #FFFFFF;
}

	/* Текст на белом фоне */ 
.text-front{
	font-family:HeliosThin;
	src: url('../fonts/HeliosThin.otf');
	font-weight:lighter;
	font-size: 18px;
	text-align: center;
	color: #7D7D7D;
}

	/* Ссылки внутри блоков */
.a-inb {
    color: #B0B0B0; 
    text-decoration: none; 
}

.a-inb:visited {
    color: #B0B0B0; 
} 

.a-inb:hover {
    color: #FFFFFF; 

    text-decoration: none; 
}