/*
 * Основной CSS файл
 */
 
html,body{
	height:100%;
	background:#FFFFFF;
}
.navbar-center{
    margin: 0 auto;
    display: table;
    float:none;
}  

/* always right for all reslutuins */
.navbar-right {
    float: right !important;
  }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}

.navbar { min-width: 400px; background: #885E4F;}

textarea { resize: none }

/* in order to place bar on top */
body { margin-top: 60px }


.bl{
	border-left:solid 1px #000;
}
.br{
	border-right:solid 1px #000;
}

.container{
	
	
}
.fl{
	float:left;
}
.fr{
	float:right;
}
h1,h2,h3,h4,h5,h6{
	color:#666;
	text-align:center;
}

.img{
	margin-right:20px;
	margin-left:20px;
}



.vk_btn{
	background: #885E4F url(../images/vk-btn.svg) no-repeat;
	background-position: 115px 8px;
	background-size: 20%;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 16px;
	color:#FFFFFF;
	border-color: #FFFFFF; 
	width: 160px;
	height: 50px;
	margin-top:6px;
}

.vk_btn:hover{
	background: #FFFFFF url(../images/vk-btn-td.svg) no-repeat;
	background-position: 115px 8px;
	background-size: 20%;
	color:#885E4F;
	/*opacity: .55;*/
}

.navbar-header{
	color:#FFFFFF; 
	margin-top:15px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

.h1{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 28px;
	text-align: center;
	color: #4E4E4E;
	
}
	/* Блок коричневого цвета с текстом */
.text-block{
	background: #885E4F;
}
	/* Серый текст внутри блоков */
.text-inblock{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-align: center;
	font-size: 20px;
	color: #B0B0B0;
}
	/* Заголовок белого цвета внутри блока */
.text-inblock-header{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-align: center;
	font-size: 28px;
	color: #FFFFFF;
}

	/* Текст на белом фоне */ 
.text-front{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 18px;
	text-align: center;
	color: #7D7D7D;
}

	/* Ссылки внутри блоков */
.a-inb {
    color: #B0B0B0; 
    text-decoration: none; 
}

.a-inb:visited {
    color: #B0B0B0; 
} 

.a-inb:hover {
    color: #FFFFFF; 
    text-decoration: none; 
}

.band-block {
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
	border-bottom-width: 1px;
	border-bottom-color: 666;
	margin-top: 1%;
}

.band-block:hover {
	background: #EBEBEB;
}

.nickname {
	font-size: 15px;
	color: #885E4F;
	text-align: left;
}

.updated {
	color: #7D7D7D;
	font-size: 12px;
	text-align: right;
}

.status {
	color: #885E4F;
	font-size: 13px;
	text-align: right;
	vertical-align: top;
	margin-bottom: 50%;
}

.task {
	font-size: 13px;
	color: #7D7D7D;
	vertical-align: top;
}

.award {
	font-size: 12px;
	color: #885E4F;
	text-align: right;
}

.remaining {
	font-size: 13px;
	color: #7D7D7D;
	text-align: center;
}

.avatar {
	margin-top: 25%;
}

.main{
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	padding:10px;
	font-family: 'Open Sans', sans-serif;
}
.caption{
	color:#aaa;
	font-size:1.5em;
}
h2.caption{
	font-size:2.5em;
}

.avatar{
	width:100px;
	height:100px;
	border:3px solid #e3e3e3;
}
.avat{
	border-left:1px solid #e3e3e3;
}

.username{
	color:#aaa;
	font-size:1.2em;
}