/*
 * Основной CSS файл
 */
 
html,body{
	height:100%;
	background:#F5F5F5;
}
.navbar-center{
    margin: 0 auto;
    display: table;
    float:none;
}  

/* always right for all reslutuins */
.navbar-right {
    float: right !important;
  }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}

.navbar { min-width: 400px; }

textarea { resize: none }

/* in order to place bar on top */
body { margin-top: 60px }


.block{
		border:solid 1px #F5F5F5;
}

.block:hover{
	background:#EBEBEB;
	border:solid 1px #000;

}

.bl{
	border-left:solid 1px #000;
}
.br{
	border-right:solid 1px #000;
}

.container{
	
	
}
.fl{
	float:left;
}
.fr{
	float:right;
}
h1,h2,h3,h4,h5,h6{
	color:#666;
}

.img{
	margin-right:20px;
	margin-left:20px;
}

.vk_btn{
	background: #4E729A url(http://ulogin.ru/img/panel8.png) -4px 0px;
	background-position: 0 -38px;
	width: 32px;
	height: 32px;
	margin-top:20px;
}
.vk_btn:hover{
	opacity: .55;
}


.top{
	margin-top:-60px;
	height:60px;
	background:#666;
}
.logo{
	margin-top:-60px;
}
.sign_in{
	color:#666;
	font-size:24px;
	margin-left:35px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}
.h1{
	
	font-size: 4em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: #ddcca3;
	
}