 html,body{
	height:100%;
	background:#FFFFFF;
}
.navbar-center{
    margin: 0 auto;
    display: table;
    float:none;
}  

/* always right for all reslutuins */
.navbar-right {
    float: right !important;
  }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}

.navbar { min-width: 400px; background: #DC4C26;}

textarea { resize: none }

/* in order to place bar on top */
body { margin-top: 60px }


.bl{
	border-left:solid 1px #000;
}
.br{
	border-right:solid 1px #000;
}

.fl{
	float:left;
}
.fr{
	float:right;
}
h1,h2,h3,h4,h5,h6{
	color:#666;
}

.index-vk_btn{
	background: #DC4C26 url(/images/vk-btn.svg) no-repeat;
	background-position: 115px 8px;
	background-size: 20%;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 16px;
	color:#FFFFFF;
	border-color: #FFFFFF; 
	width: 160px;
	height: 50px;
	margin-top:7px;
	border: 1px;
  	border-radius: 3px;
  	border-style: solid;
  	/*transition: 0.2s;*/
}

.index-vk_btn:hover{
	background: #FFFFFF url(/images/vk-btn-td.svg) no-repeat;
	background-position: 115px 8px;
	background-size: 20%;
	color:#DC4C26;
	/*opacity: .55;*/
}

.index-navbar-header{
	color:#FFFFFF; 
	margin-top:15px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

.index-h1{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 28px;
	text-align: center;
	color: #4E4E4E;
	
}
	/* Блок коричневого цвета с текстом */
.index-text-block{
	background: #E8E8E8;
}
	/* Серый текст внутри блоков */
.index-text-inblock{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-align: center;
	font-size: 20px;
	color: #B0B0B0;
}
	/* Заголовок белого цвета внутри блока */
.index-text-inblock-header{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-align: center;
	font-size: 28px;
	color: #DC4C26;
}

	/* Текст на белом фоне */ 
.index-text-front{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 18px;
	text-align: center;
	color: #7D7D7D;
}

	/* Ссылки внутри блоков */
.index-a-inb {
    color: #B0B0B0; 
    text-decoration: none; 
}

.index-a-inb:visited {
    color: #B0B0B0; 
} 

.index-a-inb:hover {
    color: #FFFFFF; 
    text-decoration: none; 
}