// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main-bg: #DC4C26;
$light: #F1B6A2;
$white: #fff;

textarea { resize: none }


@media (min-width: 768px) {
    .parent_popup {
      background: rgba(0,0,0,0.6);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
    }

    .popup {
      background-color: $white;
      width: 500px;
      height: 400px;
      top: 100px;
      padding: 5px;
      padding-top: 0;
      position: relative;
      display: table;
      float: none;
      border-radius: 3px;
      margin: 0 auto;

    }
}

.dialog-bar { 
  min-width: 100px; 
  margin: -5px;
  padding: 0;
  border-radius: 0;
  border: none;
  background: $main-bg;
  text-align: center;
  margin-bottom: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


.header{
  color:$white; 
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 24px;
  display: inline-block;
  margin-top: 5px;
}

.btn{ 
 
  background: $light no-repeat;  
 
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $main-bg;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  transition: 0.2s;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 16px;
  border-color: $light;
 /* border-radius: 0;*/
  height: 35px;
  text-decoration: none;
}

.btn:hover{
  background: $light;
  background-size: 20%;
  color: $white;  
  border-color: $main-bg;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: $light;
  text-decoration: none;
}

.light-btn{ 
 
  background: $white no-repeat;  
 
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $light;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  transition: 0.2s;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 16px;
  border-color: $light;
  text-decoration: none;
}

.light-btn:hover{
  background: $light;
  background-size: 20%;
  color: $white;  
  border-color: $main-bg;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: $light;
  text-decoration: none;
}

.mrg{
  margin-top:7px;
}

.btn-active
{
  background: $main-bg; 
  color: $light;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: $light;
  text-decoration: none;
}

.btn-active:hover{
  background: $main-bg;
  color: $light;
  text-decoration: none;
  border-color: $light;
}

.text-block{
  text-indent:4px;

  padding: 4px;

  background: $white; 
  color: #A0A0A0;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #E8E8E8;
  text-decoration: none;
}

.input-group-btn { 
  .btn
  {
    height: 34px;
  }
}

.text-input
{
  border-radius: 0;
  border: 1px solid #ccc;
}

.text-input:focus {
  border-color: $main-bg;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}


.text-input[readonly],
{
  cursor: default;
  background-color: $white;
  opacity: 1;
}

.fleft
{
    float:left;
}  

.fright
{
    float: right;
}


.field_with_errors
{
  .text-input{
    border-color: #A66;
  }
}
.error_explanation
{
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.nickname {
  font-size: 15px;
  color: #DC4C26;
  text-align: left;
}



.updated {
  color: #7D7D7D;
  font-size: 12px;
  text-align: right;
}

.status {
  color: #DC4C26;
  font-size: 13px;
  text-align: right;
  vertical-align: top;
  margin-bottom: 50%;
}

.task {
  font-size: 13px;
  color: #7D7D7D;
  vertical-align: top;
}

.award {
  font-size: 12px;
  color: #DC4C26;
  text-align: right;
}

.band-block {
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  border-bottom-width: 1px;
  border-bottom-color: 666;
  margin-top: 1%;
  transition: 0.2s;
  border: 1px;
  border-style: solid;
  border-color: #EBEBEB;
  text-decoration: none;
}

.band-block:hover {
  background: #EBEBEB;
  text-decoration: none;
}


.avatar {
  margin-top: 25%;
}

.bar-logo-text{
  font-family: 'Open Sans', sans-serif;
  color: $white;
}

