
.profil
{
	height:100px;
}

.prosmtr
{
	background:#55EEEE;
	height:50px;
}

.otst50
{
	height:50px;
	background:#FFFFFF;
}

.otst20
{
	height:20px;
	background:#FFFFFF;
}

.otst10
{
	height:10px;
	background:#FFFFFF;
}

.profil-title-name
{
	background: #DC4C26;
	height:35px;
}

.profil-name
{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 22px;
	color: #DC4C26;
}

.profil-status
{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color: #b19e98;
}

.profil-razdelitel
{
	background: #dccbc1;
	height:2px;
}

.slitno  
{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	line-height: 1.9em;
	color: #ababab;
	font-size: 16px;
}

.profil-inf
{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color: #dfdab6;
	font-size: 16px;
}
