// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main-bg: #DC4C26;
$light: #F1B6A2;
$white: #fff;
$green: #80b955;
$red: #ED2E21;
$gray:#EFEFEF;
$blue: #32D0D9;

textarea { resize: none }

.dialog-bar {
  min-width: 100px;
  margin: -5px;
  padding: 0;
  background: $white;
  border-color: $main-bg;
  border: 1px;
  text-align: center;
  margin-bottom: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.btn{

  background: $main-bg no-repeat;

  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $white;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  transition: 0.2s;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 16px;
  border-color: $main-bg;
 /* border-radius: 0;*/
  height: 35px;
  text-decoration: none;
}

.btn:hover{
  background: $main-bg;
  background-size: 20%;
  color: $light;
  border-color: $main-bg;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: $main-bg;
  text-decoration: none;
}

.light-btn{
  background: $white;
  color: $main-bg;
  text-decoration: none;
  transition: 0.2s;
}

.light-btn:hover{
  background: $light;
  background-size: 20%;
  color: $main-bg;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: $main-bg;
  text-decoration: none;
}

.front-btn{
  color: $white;
}

.front-btn:hover{
  color: $main-bg;
}

.yes-btn{
  background: $white;
  border-color: $green;
  color: $green;
}

.yes-btn:hover{
  background: $green;
  color: $white;
  border-color: $green;
}

.no-btn{
  background: $white;
  border-color: $red;
  color: $red;
}

.no-btn:hover{
  background: $red;
  border-color: $red;
  color: $white;
}


.done-btn{
  background: $white;
  border-color: $blue;
  color: $blue;
}

.done-btn:hover{
  background: $blue;
  color: $white;
  border-color: $blue;
}


.mrg{
  margin-top:7px;
}

.btn-active
{
  background: $white;
  color: $main-bg;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: $main-bg;
  text-decoration: none;
}

.btn-active:hover{
  background: $white;
  color: $main-bg;
  text-decoration: none;
  border-color: $main-bg;
}

.text-block{
  text-indent:4px;

  padding: 4px;

  background: $white;
  color: #000000;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: $main-bg;
  text-decoration: none;
}

.input-group-btn {
  .btn
  {
    height: 34px;
  }
}

.text-input
{
  border-radius: 0;
  border: 1px solid #ccc;
}

.text-input:focus {
  border-color: $main-bg;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}


.text-input[readonly],
{
  cursor: default;
  background-color: $white;
  opacity: 1;
}

.fleft
{
    float:left;
}

.fright
{
    float: right;
}


.field_with_errors
{
  .text-input{
    border-color: #A66;
  }
}
.error_explanation
{
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.nickname {
  font-size: 15px;
  color: #DC4C26;
  text-align: left;
}

.org-text {
  color: $main-bg;
}

.lorg-text {
  color: $light;
}

.updated {
  color: #7D7D7D;
  font-size: 12px;
  text-align: right;
}

.status {
  color: #DC4C26;
  font-size: 13px;
  text-align: right;
  vertical-align: top;
}

.task {
  font-size: 13px;
  color: #000000;
  vertical-align: top;
}

.award {
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  line-height: 1.9em;
  color: $main-bg;
  text-align: right;
  font-size:12px;
}

.band-block {
  font-family: 'Open Sans', sans-serif;
  background: $white;
  border-radius: 4px;
  border-bottom-width: 1px;
  border-bottom-color: 666;
  margin-top: 1%;
  transition: 0.2s;
  border: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  text-decoration: none;
}

.band-block:hover {
  border-color: $main-bg;
}

.profile-block {
  font-family: 'Open Sans', sans-serif;
  background: $white;
  border-radius: 4px;
  margin-top: 1%;
  transition: 0.2s;
  border: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  text-decoration: none;
  max-width: 900px;
}

.avatar {
  margin-top: 25%;
  border-radius: 3px;
  border: 1px solid $main-bg;
}

.bar-logo-text{
  color: $main-bg;
}

