    <div class="container-fluid">
      <nav class="row-fluid navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="col-md-3 col-sm-3 col-xs-2 ">
              <img src="images/logo_sp.svg" style="margin-top:3px" width="58" height="58" >
          </div>

            <div class="col-md-5 col-md-offset-1 col-sm-4 col-xs-7 navbar-left">
              <div class=" btn-toolbar btn-group" style="margin-top:13px">
                <%= bar_link_to 'Лента', tasks_path %>
                <%= bar_link_to 'Друзья', friends_path %>
                <%= bar_link_to 'Профиль', profile_path %>
              </div>
            </div>

            <div class="col-md-3 col-sm-2 col-xs-2 " style="margin-top:7px">
              <%= link_to "+", new_task_path, :class => "btn mrg" %>
          </div>
    </nav>
  </div>
