    <div class="container-fluid">
      <nav class="row-fluid navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="row">
            <div class="col-md-1 col-sm-1  col-xs-1">
            <img src="/images/logo.svg" width="50" width="50">
            <!--div class="header bar-logo-text" style="margin-left:10px; margin-top:6px;" >TODOforME</div-->
            </div>

            <div class="col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-3 col-xs-offset-2 col-xs-7">
              <div class=" btn-toolbar btn-group" style="margin-top:1px; padding: 5px;">
                <%= bar_link_to 'Лента', tasks_path %>
                <!-- TODO: friends
                <%= bar_link_to 'Друзья', friends_path %>
                -->
                <%= bar_link_to 'Профиль', profile_path %>
              </div>
            </div>

            <div class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-2 col-xs-1" style="margin-top:7px">
              <%= link_to "+", new_task_path, :class => "btn", :remote => true %>
          </div>
          </div>
    </nav>
  </div>
